.react-calendar { 
  width: 400px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 }
 .react-calendar__tile {
  color: #222 !important;
 }
.react-calendar__month-view__days__day--neighboringMonth {
  color: grey !important;
}
.center {
  margin: auto;
  width: 400px;
  padding: 10px;
}
button {
  color: black !important;
}