.prof-calender {
  margin: 100px 200px 100px 200px;
}

.rbc-calendar {
  font-size: small;
}

button {
  color: black !important;
  background-color: white !important;
}

.recurr .rbc-toolbar {
  visibility: hidden;
  transition: linear;
} 