.service-card {
  padding: 10px 20px 5px 20px;
  margin: 10px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.active-svc {
  background-color: #d9d5ea;
}
