.filters-container {
  width: 100%;
}
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin: 20px 10%;
}

.filter-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.price {
  padding: 0 20px;
}

.filters > * {
  flex: 2;
}

.filter-component:nth-child(4) {
  flex: 1;
  border: none;
  padding: 0 20px;
}
