/* styling the react-select component */
#signup-provider .css-b62m3t-container {
  box-sizing: inherit;
  text-align: left;
  font-size: 12px;
}

.css-b62m3t-container .css-1s2u09g-control {
  border-color: grey;
}

.css-1e7cuzv-MuiFormControl-root{
  margin: auto !important;
}