.providers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 10px;
}

/* for larger screens */
@media only screen and (min-width: 1200px) {
  .providers {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 10px;
  }
  .provider-card:nth-child(1) {
    margin-right: auto;
  }

  .provider-card:nth-child(2) {
    margin-left: auto;
  }
}

.metadata {
  padding: 10px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.provider-card img {
  border-radius: 5px;
  width: 100%;
  border: 1px solid white;
  margin-right: 10px;
  flex: 0 0 30%;
}
.desc {
  padding: 10px;
  border: 1px solid #ebe9f5;
  border-radius: 5px;
  margin: 10px;
}

.svc-tag {
  background-color: #ebe9f5;
  width: min-content;
  padding: 5px;
  border-radius: 5px;
}
