#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  width: 70%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebe9f5;
}

.profile-img {
  border-radius: 5px;
}

.svc-tags {
  display: flex;
  column-gap: 0.5rem;
}

.profile-inner-container {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container img {
  height: 100%;
  object-fit: cover;
}

.reviews-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: left;
  width: 70%;
}

.description-container {
  text-align: left;
  flex: 2;
}

.css-ypiqx9-MuiDialogContent-root {
  overflow-y: initial !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  overflow-y: scroll !important;
}
