#root {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #fafafc;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  color: #1c2b49;
  padding: 0;
  margin: 0;
}

.page {
  padding: 50px 0;
  min-height: calc(100vh - 100px);
}

/*Buttons*/
button {
  background-color: #5646ab;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.5s, background-color 0.5s;
}

button,
input::placeholder,
a {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

.transparent-btn {
  background-color: white;
  border: 1px solid #5646ab;
  color: #5646ab;
}

button:hover {
  color: white;
  background-color: black;
}

.btn-group button {
  margin-right: 10px;
}

/*Tabs*/

.active {
  background: black;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  padding: 10px;
}

.tabs .tab {
  border-radius: 0;
  border: none;
}

/*Special text*/

.error {
  color: red;
}

.highlight {
  color: #5646ab;
}

/*Tags*/

.svc-tag {
  background-color: #ebe9f5;
  width: min-content;
  padding: 5px;
  border-radius: 5px;
}

.landing-page .providers-page {
  background-color: white;
}
