#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  background: purple;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.tabs .tab {
  border-radius: 0;
  border: none;
}
